<p>
  <div id="mc_embed_signup">
    <form action="https://arhohuttunen.us1.list-manage.com/subscribe/post?u=9bfcdee4bd91fd5eb09042628&amp;id=71ac546a38" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div class="subscribe-header">
          <h1>Never miss a blog post</h1>
        </div>
        <div class="subscribe-subheader">
          <p>Subscribe to get my latest content by email.</p>
        </div>
        <div class="subscribe-fields">
          <div class="subscribe-field">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>
          </div>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9bfcdee4bd91fd5eb09042628_71ac546a38" tabindex="-1" value=""></div>
        <div class="subscribe-guarantee">
          <p>I value your privacy. I will never sell your data. Unsubscribe at any time.</p>
        </div>
      </div>
    </form>
  </div>
</p>
